<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002184791709-t2apfo7np05d5schtc14qfh301pssn50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002184791709-t2apfo7np05d5schtc14qfh301pssn50</string>
	<key>API_KEY</key>
	<string>AIzaSyCmaBGrJwHWlJLcPkZPN1sg0N9k35NJkfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002184791709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khangnguyen136.lettutor</string>
	<key>PROJECT_ID</key>
	<string>letuttor</string>
	<key>STORAGE_BUCKET</key>
	<string>letuttor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002184791709:ios:52fb240d384a5e9d82e674</string>
</dict>
</plist>